Debug/RemotePCLib.dll.metagen
RemotePCLib/Debug/RemotePCLib.tlog/CL.read.1.tlog
RemotePCLib/Debug/RemotePCLib.tlog/CL.write.1.tlog
RemotePCLib/Debug/RemotePCLib.tlog/RemotePCLib.lastbuildstate
RemotePCLib/Debug/RemotePCLib.tlog/TZRES.DLL.bi
RemotePCLib/Debug/RemotePCLib.tlog/cl.command.1.tlog
RemotePCLib/Debug/RemotePCLib.tlog/link.command.1.tlog
RemotePCLib/Debug/RemotePCLib.tlog/link.read.1.tlog
RemotePCLib/Debug/RemotePCLib.tlog/link.write.1.tlog
RemotePCLib/Debug/RemotePCLib.tlog/metagen.read.1.tlog
RemotePCLib/Debug/RemotePCLib.tlog/metagen.write.1.tlog
RemotePCLib/Debug/RemotePCLib.tlog/rc.command.1.tlog
RemotePCLib/Debug/RemotePCLib.tlog/rc.read.1.tlog
RemotePCLib/Debug/RemotePCLib.tlog/rc.write.1.tlog
RemotePCServer/bin/Debug/RemotePCServer.exe.config
RemotePCServer/bin/Debug/RemotePCServer.vshost.exe.config
RemotePCServer/obj/Debug/RemotePCServer.MainWindow.resources
RemotePCServer/obj/Debug/RemotePCServer.Properties.Resources.resources
RemotePCServer/obj/Debug/RemotePCServer.csproj.FileListAbsolute.txt
RemotePCServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RemotePCServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RemotePCServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RemotePCServer.opensdf
RemotePCServer/bin/Debug/RemotePCServer.vshost.exe.manifest
